** Loading Data **

In [42]:
import pandas as pd 
df = pd.read_csv("car_ad.csv", encoding='latin-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9576 entries, 0 to 9575
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   car           9576 non-null   object
 1   price         9576 non-null   float64
 2   body          9576 non-null   object
 3   mileage       9576 non-null   int64
 4   engV          9142 non-null   float64
 5   engType       9576 non-null   object
 6   registration  9576 non-null   object
 7   year          9576 non-null   int64
 8   model         9576 non-null   object
 9   drive         9065 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 748.3+ KB

In [51]:

df.head()

             car    price       body  ...  year    model  drive
0           Ford  15500.0  crossover  ...  2010     Kuga   full
1  Mercedes-Benz  20500.0      sedan  ...  2011  E-Class   rear
2  Mercedes-Benz  35000.0      other  ...  2008   CL 550   rear
3  Mercedes-Benz  17800.0        van  ...  2012    B 180  front
4  Mercedes-Benz  33000.0      vagon  ...  2013  E-Class    NaN

[5 rows x 10 columns]