* Loading a DataFrame with a dictionary

In [56]:
people = {
    'name': ['basit','samad','uzair','monii'],
    'ages':[19,17,20,21],
    'email':['basit@gmail.com','samad09@gmail.com','uzair123@gmail.com','muzammil69@gmail.com',]
}

* loading dataframe with a csv file

In [26]:
import pandas as pd
df= pd.DataFrame(people)
df.columns

Index(['name', 'ages', 'email'], dtype='object')

* Getting row by loc and iloc

iloc -> access rows through integers (indexes)
loc -> access rows through column name

In [48]:
df.iloc[[0,1,2],[2,1]] 
# (rows, column)

                email  ages
0     basit@gmail.com    19
1   samad09@gmail.com    17
2  uzair123@gmail.com    20

In [57]:
# through loc
df.loc[[0,1,2,3],['name','email']]

    name                 email
0  basit       basit@gmail.com
1  samad     samad09@gmail.com
2  uzair    uzair123@gmail.com
3  monii  muzammil69@gmail.com